#system_name{
    height: 50px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    text-align:center;
    padding: 5px;
    }

#config_panel{
    height: 200px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    float: left;
    text-align:center;
    padding:5px;
    }

#display_1{
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    float: right;
    }

#console{
    height: 200px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    clear:both;
    font-size: 16px;
    }

.input{
        border: 1px solid black;
        height: 100px;
    }

.output{
        border: 1px solid black;
        height:100px;
    }


