<style>
#system_name{
    height: 50px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    text-align:center;
    padding: 5px;
    }

#config_panel{
    height: 200px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    float: left;
    text-align:center;
    padding:5px;
    }

#display_1{
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    float: right;
    }

#console{
    height: 100px;
    border: 1px solid #99ccff;
    background-color: #d6f7ff;
    clear:both;
    }
</style>


